{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'analyzer/style.css' %}">
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>File Contract Analysis</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'analyzer/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h3 class="title">File Contract Analysis</h3>    
    <div>
      <form class="form" method ="post" action="{% url 'analyzer:upload_file' %}" enctype="multipart/form-data" >
        {%csrf_token%}
        <div class="pure-g">
            <div class="pure-u-1-6"><p>{{form.as_p}}</p></div>
            <div class="pure-u-1-6"><p><button type="submit">Upload</button></p></div>
        </div>
      </form>
      {% if keywords %}
        <p class="results">{{ keywords }}</p>
      {% endif %}
  </div>
  </body>
</html>
{% endblock %}


