* {
    font-family: "Arial";
}

form {
    display: inline;
}

.title {
    padding-top: 0.75em;
    font-weight: bold;
    font-size: 300%;
}

.results {
    white-space: pre;
    padding-top: 0.75em;
}